/*********
CONTACTS
*********/

.contacts {
	width: 940px;
	margin: 190px auto 200px auto;
	padding-top: 25px;

	position: relative;

	background-color: #fff;

	transform: translateX(-50px);

	box-shadow: 0px 1px 117px 0px rgba(0, 0, 0, 0.16);

	&::before {
		content: '';

		width: 169px;
		height: 188px;

		position: absolute;
		left: 50%;
		top: -157px;

		background-image: url(../img/cat-from-top.png);
		background-size: 100%;

		transform: translateX(-50%);
	}

	&::after {
		content: '';

		width: 30px;
		height: 30px;
		box-sizing: border-box;
		border: 8px solid #237bff;
		border-radius: 50%;

		position: absolute;
		left: 115px;
		top: -50px;
	}

}

.contacts__title {
	max-width: 235px;
	margin: 0 auto;

	position: relative;

	font-family: $font-bold;
	font-size: 18px;
	font-weight: 500;
	color: #487fc4;
	text-align: center;

	&::before {
		content: '';

		width: 25px;
		height: 22px;

		position: absolute;

		left: -35px;
		top: -3px;

		background-image: url(../img/blue-paw.png);
	}

}

.contacts__form {
	display: flex;

	margin-top: 25px;

	position: relative;

	&::before {
		content: '';

		width: 163px;
		height: 183px;

		position: absolute;
		left: -60px;
		top: -115px;

		background-image: url(../img/curve.png);
	}

	&::after {
		content: '';

		width: 50px;
		height: 50px;
		box-sizing: border-box;
		border: 8px solid #f29a00;
		border-radius: 50%;

		position: absolute;
		right: -25px;
		bottom: -25px;
	}

}

.contacts__fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	border: none;
	border-top: 1px solid #b9bbbe;
	border-right: 1px solid #b9bbbe;
	margin: 0;
	padding-bottom: 50px;

	&:last-child {
		border-right: none;
	}

	&--send {
		position: relative;

		&::before {
			content: '';

			width: 50px;
			height: 50px;

			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 1;

			background-color: #fff;
		}

		&::after {
			content: '';

			width: 102px;
			height: 112px;

			position: absolute;
			right: -10px;
			bottom: -60px;
			z-index: 2;

			background-image: url(../img/curve.png);
			background-size: 100%;
			transform: rotate(53deg);
		}

	}

}

.contacts__list {
	display: flex;
	flex-direction: column;
	align-items: center;

	list-style: none;

	margin: 0;
	padding: 0;
	padding-top: 60px;
}

.contacts__item {
	margin: 0;
	margin-bottom: 45px;
	padding-left: 30px;

	position: relative;

	&::before {
		content: '';

		width: 21px;
		height: 21px;

		position: absolute;
		left: 0;
		top: 5px;

		background-size: 100%;
	}

	&--name {

		&::before {
			background-image: url(../img/user.png);
		}

	}

	&--phone {

		&::before {
			background-image: url(../img/call.png);
		}

	}

	&--message {

		&::before {
			background-image: url(../img/email.png);
		}

	}

}

.contacts__field {
	width: 265px;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid #b9bbbe;
	padding: 10px 5px;

	position: relative;

	font-family: $font-regular;
	font-size: 15px;

	background-color: rgba(255, 255, 255, 0);

	&:focus {
		border-color: #487fc4;

		font-family: 'Montseratt Medium', 'Tahoma', sans-serif;
		color: #487fc4;

		outline: none;
	}

}

.contacts__submit {
	width: 190px;
	height: 55px;
	border: none;
	border-radius: 35px;
	margin: 0 auto;
	margin-top: 135px;
	margin-bottom: 20px;

	position: relative;

	background-color: #237bff;
	box-shadow: 0px 0px 24px 0px rgba(0, 51, 218, 0.3);

	font-family: $font-bold;
	font-size: 18px;
	font-weight: 500;
	color: #fff;

	cursor: pointer;

	&::before {
		content: '';

		width: 26px;
		height: 22px;

		position: absolute;
		left: -35px;
		top: 50%;

		background-image: url(../img/back-arrow.png);

		transform: translateY(-50%);
	}

}

.contacts__agree-wrapper {
	margin: 0 auto;
	max-width: 200px;
}

.contacts__agree-label {
	position: relative;

	font-family: $font-regular;
	font-size: 14px;
	color: #9aa6b7;

	cursor: pointer;

	&::before {
		content: '';

    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 5px;

		position: absolute;
		left: -20px;
		top: 0;

		background-color: #dde5f0;

    cursor: pointer;
	}

}

.contacts__agree:checked + .contacts__agree-label::before {
	background-image: url(../img/tick.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

/*RESPONSIVE*/

/*HOVER + ACTIVE ONLY ON DESKTOP*/

@media screen and (min-width: 768px) {

	.contacts__submit {
		transition: 0.3s;

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.5;
			outline: none;
		}

		&:focus {
			outline: none;
		}

	}

}

@media screen and (max-width: 1030px) {

	.contacts {
		width: 700px;

		transform: translateX(-20px);
	}

}

@media screen and (max-width: 800px) {

	.contacts {
		width: 600px;
	}

	.contacts__field {
		width: 180px;
	}

	.contacts__submit {
		width: 180px;
	}

}

@media screen and (max-width: 700px) {

	.contacts {
		width: 400px;

		&::after {
			left: auto;
			right: 50px;
		}

	}

	.contacts__form {
		flex-direction: column;
	}

	.contacts__fieldset {
		width: auto;
	}

	.contacts__field {
		width: 250px;
	}

	.contacts__submit {
		width: 190px;
		margin-top: 55px;
	}

}

@media screen and (max-width: 500px) {

	.contacts {
		width: 300px;
	}

	.contacts__title {

		&::before {
			display: none;
		}

	}

	.contacts__field {
		width: 200px;
	}

	.contacts__submit {
		width: 150px;
		height: 45px;

		font-size: 16px;
	}

}

@media screen and (max-width: 430px) {

	.contacts {
		transform: translateX(-10px);
	}

	.contacts__form {

		&::after {
			right: auto;
			left: -20px;
		}

	}

	.contacts__fieldset {

		&--send {

			&::before {
				right: auto;
				left: 0;
			}

			&::after {
				right: auto;
				left: -10px;
			}

		}

	}

}

@media screen and (max-width: 360px) {

	.contacts__form {

		&::before {
			top: -145px;

			transform: scale(0.7);
		}

		&::after {
			display: none;
		}

	}

	.contacts__fieldset {

		&--send {

			&::before {
				display: none;
			}

			&::after {
				display: none;
			}

		}

	}

}
