/*********
GOODS
*********/

.goods {
	padding-top: 130px;

	color: $dark-blue;
}

.goods__list {
	list-style: none;

	margin: 0;
	padding: 0;
}

.goods__item {
	margin-bottom: 230px;
}

/*RESPONSIVE*/

@media screen and (max-width: 1105px) {

	.goods {
		padding-top: 100px;
	}

}

@media screen and (max-width: 768px) {

	.goods {
		padding-top: 180px;
	}

}

@media screen and (max-width: 560px) {

	.goods {
		padding-top: 100px;
	}

	.goods__item {
		margin-bottom: 100px;
	}

}
