/*********
HEADER
*********/

.header {
	padding-left: 100px;

	position: relative;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&--wood-mineral {
		background-image: linear-gradient(to top right, rgba(254, 190, 250, 0.9) 0%, rgba(233, 218, 241, 0.9) 100%), url(../img/background-pink.jpg);

		color: $dark-purple;
	}

	&--zeolitic {
		background-image: linear-gradient(62deg, rgba(220,228,239,0.9) 0%, rgba(255,255,255,0.9) 100%), url(../img/background-zeolit.jpg);

		color: $dark-blue;

		&::before {
			content: '';

			width: 100%;
			height: 335px;

			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;

			background-image: url(../img/grid-for-bg.png);
		}

	}

	&--silica {
		background: linear-gradient(62deg, rgba(65,102,186,1) 0%, rgba(235,236,248,0.95) 50%, rgba(252,235,252,0.95) 100%), url(../img/background-silica.jpg);
	}

	&--hay {
		background: linear-gradient(0deg, rgba(216, 201, 180, 0.9) 0%, rgba(216, 201, 180, 0.9) 100%), url(../img/background-hamster.png) no-repeat;

		overflow: hidden;
	}

	&--cat {
		background: linear-gradient(0deg, rgba(72,186,118,0.9) 0%, rgba(35,141,93,0.9) 100%), url(../img/background-cat.jpg) no-repeat;

		overflow: hidden;
	}

	&--grass {
		background: linear-gradient(0deg, rgba(6,203,94,0.9) 0%, rgba(4,150,80,0.9) 100%), url(../img/background-mouse.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}

	&--about  {
		min-height: 100vh;

		background: linear-gradient(0deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.95) 100%), url(../img/background-about.jpg) no-repeat;
		background-size: 100%;
	}

	&--contacts {
		height: 100%;

		background: linear-gradient(42deg, rgba(255,255,255,0.85) 0%, rgba(236,242,249,1) 100%), url(../img/background-contacts.jpg) no-repeat;
		background-size: 100%;
	}

}

.header__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-container {
	display: flex;
	align-items: center;

	z-index: 1;
}

.header__logo-img {
	width: 86px;
	height: 82px;
	margin-right: 25px;
}

.header__contacts {
	display: flex;

	list-style: none;

	margin: 0;
	padding: 50px 40px;

	z-index: 1;

	background-color: $transparent-white;

	&--zeolitic {
		background-color: rgba(221, 229, 239, 0.7);
	}

	&--cat {
		background-color: rgba(255, 255, 255, 0.1);

		color: #b1ffdc;
	}

	&--grass {
		background-color: rgba(255, 255, 255, 0.1);

		color: #fff;
	}

	&--lightblue {
		background-color: rgba(221, 229, 239, 0.7);

		color: #2f4b6e;
	}

}

.header__number {
	margin-right: 30px;

	font-family: $font-bold;
	font-size: 18px;
	font-weight: 500;
}

.header__number:last-child {
	margin-right: 0;
}

/*RESPONSIVE*/

/*HOVER + ACTIVE эффекты только при разрешении выше планшетного*/
@media screen and (min-width: 768px) {

	.header__logo-img {
		transition: 0.3s;

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.3;
		}

	}

}

@media screen and (max-width: 1010px) {

	.header {
		padding-left: 50px;
	}

	.header__logo-img {
		width: 60px;
		height: 57px;
	}

	.header__contacts {
		padding: 30px 20px;
	}

	.header__number {
		font-size: 16px;
	}

}

@media screen and (max-width: 768px) {

	.header__contacts {
		flex-direction: column;

		padding: 23px 25px 23px 35px;
	}

	.header__number {
		margin-right: 0;

		font-size: 14px;
	}

}

@media screen and (max-width: 560px) {

	.header {

		&::before {
			display: none;
		}

	}

	.header__logo-img {
		width: 48px;
		height: 46px;
		margin-right: 15px;
	}

	.header__contacts {
		padding: 17px 15px 17px 25px;
	}

	.header__number {
		font-family: $font-semibold;
		font-size: 12px;
		font-weight: 400;
	}

}

@media screen and (max-width: 415px) {

	.header {
		padding-left: 20px;
	}

	.header__contacts {
		padding: 15px 5px 15px 7px;
	}

}
