/********
MENU
********/

.menu__list {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	list-style: none;

	margin: 0;
	padding: 0;
}

.menu__item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 95px;
	height: 95px;
	box-sizing: border-box;
	margin-right: 20px;

	background-color: $transparent-white;

	&--active {
		height: 125px;
		border-top: 3px solid #fff;
		border-left: 3px solid #fff;
		border-right: 3px solid #fff;
	}

}

.menu__item--active a {
	cursor: default;
}

/*RESPONSIVE*/

/*HOVER + ACTIVE эффекты только при разрешении выше планшетного*/
@media screen and (min-width: 768px) {

	.menu__item {
		transition: 0.3s;

		&:hover {
			height: 125px;
			border-top: 3px solid #fff;
			border-left: 3px solid #fff;
			border-right: 3px solid #fff;
		}

	}

}

@media screen and (max-width: 768px) {

	.menu__item {
		width: 65px;
		height: 65px;
		margin-right: 10px;

		&--active {
			height: 90px;
			border-width: 2px;
		}

	}

	.menu__item-image {
		transform: scale(0.7);
	}

}

@media screen and (max-width: 415px) {

	.menu__item {
		width: 45px;
		height: 45px;
		margin-right: 7px;

		&--active {
			height: 60px;
			border-width: 2px;
		}

	}

	.menu__item-image {
		transform: scale(0.5);
	}

}
