/*******
NAV
*******/

.nav__list {
	display: flex;
	justify-content: space-between;

	list-style: none;

	width: 230px;
	margin: 0;
	padding: 0;
}

.nav__item-link {
	font-family: 'Montseratt Bold', Tahoma, sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: $dark-purple;

	transition: 0.3s;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}

}

/*RESPONSIVE*/

@media screen and (max-width: 1010px) {

	.nav__list {
		width: 180px;
	}

	.nav__item-link {
		font-size: 16px;
	}

}
