/*******
PRODUCT
********/

.product__preview {
	padding-top: 80px;
	padding-bottom: 290px;

	position: relative;

	background: #f6f9fc;

	&--classic {

		&::before {
			content: '';

			width: 28px;
			height: 97px;
			border-left: 3px solid #e8e8e8;
			border-right: 3px solid #e8e8e8;

			position: absolute;
			left: 370px;
			bottom: -10px;

			background: linear-gradient(90deg, rgba(255,255,255,0) 45%, rgba(232,232,232,1) 40%, rgba(232,232,232,1) 55%, rgba(255,255,255,0) 60%);
		}

	}

}

.product__heading {
	display: flex;
	align-items: center;

	max-width: 940px;
	margin: 0 auto;
	padding: 30px 0 100px 45px;

	position: relative;

	background-color: #f1f1f5;

	&--wood-mineral {
		align-items: flex-end;
	}

	&--reverse {
		flex-direction: row-reverse;

		padding-right: 45px;
	}

}

.product__fodder-image {
	min-width: 102px;
	width: 102px;
	height: 102px;
	margin-right: 15px;

	&--reverse {
		margin-right: 0;
		margin-left: 25px;
	}

}

.product__title {
	max-width: 620px;
	margin: 0;

	font-family: $font-bold;
	font-size: 39px;
	font-weight: 500;
	text-align: right;
}

.product__description-container {
	max-width: 580px;
	padding: 35px 40px;

	position: absolute;
	left: 130px;
	top: 150px;

	background-color: #fff;

	&--reverse {
		left: auto;
		right: 80px;
	}

}

.product__description {
	margin: 0;

	position: relative;

	font-size: 15px;
	line-height: 1.7;
	text-align: right;

	&::after {
		content: '';

		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-left: 20px solid #fff;
		border-bottom: 8px solid transparent;

		position: absolute;
		right: -60px;
		top: 5px;
	}

	&--wood-mineral {

		&::before {
			content: '';

			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-left: 18px solid #f9e86f;
			border-bottom: 10px solid transparent;

			position: absolute;
			left: 0;
			bottom: -45px;

			transform: rotate(-40deg);
		}

	}

	&--reverse {

		&::after {
			right: auto;
			left: -60px;

			transform: rotate(180deg);
		}

	}

}

.product__preview-image {
	min-width: 338px;
	height: 624px;

	position: absolute;
	right: -170px;
	top: -150px;

	&--reverse {
		left: -75px;
	}

}

.product__sizes-list {
	display: flex;
	align-items: flex-end;

	list-style: none;

	width: 970px;
	margin: 70px auto 0 auto;
	padding: 0;

	position: relative;

	background: linear-gradient(0deg, rgba(238,243,249,1) 70%, rgba(255,255,255,1) 70%);

	&--classic {

		&::before {
			content: '';

			width: 278px;
			height: 413px;

			position: absolute;
			left: 200px;
			top: -80px;
			z-index: 0;

			background-image: url(../img/little-cat-arm-up.png);

			transform: scale(0.5);
		}

		&::after {
			content: '';

			width: 100%;
			height: 70%;

			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;

			background-color: rgba(238,243,249,1);
		}

	}

}

.product__size-preview {
	margin-right: 100px;
	margin-bottom: 60px;

	position: relative;
	z-index: 2;

	&::after {
		content: '';

		width: 50px;
		height: 50px;
		box-sizing: border-box;
		border: 2px solid #ff7800;
		border-radius: 50%;
		padding-top: 14px;

		position: absolute;
		right: 0;
		top: 0;

		background-color: #fff;

		font-family: $font-bold;
		font-size: 15px;
		color: #ff7800;
		font-weight: 500;
		text-align: center;
	}

	&--usual {
		margin: 0;

		&::after {
			content: '4.5л';

			right: 90px;
			top: 50px;
		}

	}

	&--usual-wood-mineral {

		&::before {
			content: '';

			width: 50px;
			height: 31px;

			position: absolute;
			left: 10px;
			top: 50%;

			background-image: url(../img/cat-paws.png);
		}

	}

	&--usual-3-liters {

		&::after {
			content: '3кг';
		}

	}

	&--20-liters {

		&::after {
			content: '20л';

			right: -15px;
			top: 15px;
		}

	}

	&--25-kg {

		&::after {
			content: '25кг';

			right: -15px;
			top: -15px;
		}

	}

	&--8-5-kg {

		&::after {
			content: '8.5кг';
		}

	}

	&--20-kg {

		&::after {
			content: '20кг';

			right: -10px;
			top: -15px;
		}

	}

	&--30-kg {

		&::after {
			content: '30кг';

			right: -10px;
			top: -15px;
		}

	}

}

/*RESPONSIVE*/

@media screen and (max-width: 1340px) {

	.product__heading {
		max-width: 700px;
	}

	.product__title {
		max-width: 470px;

		font-size: 30px;
	}

	.product__description-container {
		max-width: 440px;
		padding: 25px 30px;
	}

	.product__description {
		line-height: 1.25;

		&::after {
			right: -50px;
		}

		&--wood-mineral {

			&::before {
				bottom: -35px;
			}

		}

	}

	.product__preview-image {
		min-width: 150px;
		height: 436px;
	}

}

@media screen and (max-width: 1105px) {

	.product__preview {
		padding-bottom: 150px;
	}

	.product__heading {
		align-items: center;

		max-width: 450px;
		padding-bottom: 60px;
	}

	.product__fodder-image {
		min-width: 70px;
		width: 70px;
		height: 70px;
	}

	.product__title {
		max-width: 230px;

		font-size: 20px;
	}

	.product__description-container {
		left: -80px;
		top: 110px;
	}

	.product__description {
		font-size: 13px;
	}

	.product__preview-image {
		min-width: 177px;
		height: 326px;

		right: -120px;
		top: -120px;
	}

	.product__sizes-list {
		justify-content: space-between;

		width: 750px;
		margin-top: 40px;

		&--small {
			width: 650px;
		}

	}

	.product__size-preview {
		margin-right: 40px;
		margin-bottom: -25px;

		&::after {
			width: 35px;
			height: 35px;
			padding-top: 9px;

			font-size: 12px;
		}

		&--usual {
			margin: 0;

			&::after {
				right: 40px;
				top: 25px;
			}

		}

		&--20-liters {

			margin-bottom: -30px;

			&::after {
				right: 10px;
				top: 70px;
			}

		}

		&--25-kg {

			&::after {
				right: 25px;
				top: 40px;
			}

		}

		&--8-5-kg {

			&::after {
				right: 10px;
				top: 60px;
			}

		}

		&--20-kg {

			&::after {
				right: 20px;
				top: 30px;
			}

		}

		&--30-kg {

			&::after {
				right: 20px;
				top: 30px;
			}

		}

	}

	.product__size-preview-img {
		transform: scale(0.5);

		&--usual {
			width: 213px;
			height: 257px;

			transform: scale(1);
		}

		&--usual-3-liters {
			width: 216px;
			height: 256px;
		}

	}

}

@media screen and (max-width: 768px) {

	.product__preview {
		padding-top: 90px;
		padding-bottom: 280px;
	}

	.product__heading {
		justify-content: space-between;

		padding: 20px;
	}

	.product__title {
		max-width: 180px;
	}

	.product__description-container {
		width: 200px;
		padding: 15px;

		left: calc(50% - 120px);
	}

	.product__description {

		&::after {
			display: none;
		}

		&--wood-mineral {

			&::before {
				bottom: -20px;
			}

		}

	}

	.product__preview-image {
		top: -250px;
		left: calc(50% - 88.5px);
	}

	.product__sizes-list {
		width: 550px;

		background: linear-gradient(0deg, rgba(238,243,249,1) 50%, rgba(255,255,255,1) 50%);

		&--small {
			width: 450px;
		}

		&--classic {

			&::before {
				top: -150px;

				transform: scale(0.3);
			}

		}

	}

	.product__size-preview {
		margin-right: 20px;
	}

	.product__size-preview-img {

		&--usual {
			width: 170px;
			height: 194px;
			margin-right: 20px;
		}

		&--usual-3-liters {
			min-width: 150px;
			margin-right: 0;
		}

	}

}

@media screen and (max-width: 560px) {

	.product__preview {
		padding-top: 180px;

		&--classic {

			&::before {
				left: 20px;
				bottom: -40px;

				transform: scale(0.5);
			}

		}

	}

	.product__preview-image {
		min-width: 100px;
		height: 249px;

		top: -240px;
		left: calc(50% - 70px);

		&--classic {
			top: -190px;
		}

	}

	.product__sizes-list {
		flex-direction: column;
		align-items: center;

		width: 200px;
		margin-top: 0;
		padding-top: 20px;

		background: rgba(238,243,249,1);

		&--classic {

			&::before {
				display: none;
			}

		}

	}

	.product__size-preview {
		margin: 0 0 -40px 0;
	}

}
