$dark-purple: #2b242b;
$dark-blue: #252a4a;
$transparent-white: rgba(255, 255, 255, 0.3);
$font-bold: 'Montseratt Bold', Tahoma, sans-serif;
$font-semibold: 'Montseratt SemiBold', Tahoma, sans-serif;
